<nav class="nav-menu">
  <p>
    <a href="{{ "/" | prepend: site.baseurl }}" {% if page.url == '/' %}class="active"{% endif %}>Home</a>
    <a href="{{ "/syllabus" | prepend: site.baseurl }}" {% if page.url == '/syllabus.html' %}class="active"{% endif %}>Syllabus</a>
    <a href="{{ "/assignments" | prepend: site.baseurl }}" {% if page.url == '/assignments.html' %}class="active"{% endif %}>Assignments</a>
    <!-- <a href="{{ "/logistics" | prepend: site.baseurl }}" {% if page.url == '/logistics.html' %}class="active"{% endif %}>Logistics</a> -->
    <a>Logistics</a>
  </p>
</nav>
